  
  #vinyl1 {
    width: 40vh; 
    height: 40vh; 
    background-image: url('https://pngimg.com/d/vinyl_PNG18.png');
    background-size: cover;
    border-radius: 50%;
    position: fixed;
    /* top: 12%; */
    left: 25%;
    animation: spin 5s linear infinite;
    animation-play-state: paused;
  }

  #vinyl2 {
    width: 50vh; 
    height: 50vh;
    background-image: url('https://pngimg.com/d/vinyl_PNG18.png'); 
    background-size: cover;
    border-radius: 50%; 
    position: fixed;
    top: 70%;
    left: 95%;
    animation: spin 5s linear infinite;
    animation-play-state: paused;
  }

  #vinyl3 {
    width: 50vh; 
    height: 50vh;
    background-image: url('https://pngimg.com/d/vinyl_PNG18.png');
    background-size: cover;
    border-radius: 50%;
    position: fixed;
    top: 90%;
    left: 40%;
    animation: spin 5s linear infinite;
    animation-play-state: paused;
  }

  #vinyl4 {
    width: 50vh; 
    height: 50vh; 
    background-image: url('https://pngimg.com/d/vinyl_PNG18.png');
    background-size: cover;
    border-radius: 50%; 
    position: fixed;
    top: 50%;
    left: 0%;
    animation: spin 5s linear infinite;
    animation-play-state: paused;
  }

  #vinyl5 {
    width: 50vh; 
    height: 50vh; 
    background-image: url('https://pngimg.com/d/vinyl_PNG18.png'); 
    background-size: cover;
    border-radius: 50%;
    position: fixed;
    top: 5%;
    left: 80%;
    animation: spin 5s linear infinite;
    animation-play-state: paused;
  }

  #vinyl6 {
    width: 85vh;
    height: 85vh; 
    background-image: url('https://pngimg.com/d/vinyl_PNG18.png'); 
    background-size: cover;
    border-radius: 50%; 
    position: fixed;
    top: 110%;
    left: 71%;
    animation: spin 5s linear infinite;
    animation-play-state: paused;
  }

  #vinyl7 {
    width: 70vh; 
    height: 70vh; 
    background-image: url('https://pngimg.com/d/vinyl_PNG18.png'); 
    background-size: cover;
    border-radius: 50%;
    position: fixed;
    top: 20%;
    left: 105%;
    animation: spin 5s linear infinite;
    animation-play-state: paused;
  }

  #vinyl8 {
    width: 70vh; 
    height: 70vh; 
    background-image: url('https://pngimg.com/d/vinyl_PNG18.png');
    background-size: cover;
    border-radius: 50%; 
    position: fixed;
    top: 0;
    left: -3%;
    animation: spin 5s linear infinite;
    animation-play-state: paused;
  }

  #vinyl9 {
    width: 30vh; 
    height: 30vh; 
    background-image: url('https://pngimg.com/d/vinyl_PNG18.png');
    background-size: cover;
    border-radius: 50%; 
    position: fixed;
    top: 85%;
    left: 8%;
    animation: spin 5s linear infinite;
    animation-play-state: paused;
  }

  #vinyl10 {
    width: 30vh; 
    height: 30vh;
    background-image: url('https://pngimg.com/d/vinyl_PNG18.png');
    background-size: cover;
    border-radius: 50%;
    position: fixed;
    top: 8%;
    left: 42%;
    animation: spin 5s linear infinite;
    animation-play-state: paused;
  }
  
  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  
  #vinyl1:hover {
    animation: spin 5s linear infinite;
  }

  #vinyl2:hover {
    animation: spin 5s linear infinite;
  }

  #vinyl3:hover {
    animation: spin 5s linear infinite;
  }

  #vinyl4:hover {
    animation: spin 5s linear infinite;
  }

  #vinyl5:hover {
    animation: spin 5s linear infinite;
  }

  #vinyl6:hover {
    animation: spin 5s linear infinite;
  }

  #vinyl7:hover {
    animation: spin 5s linear infinite;
  }

  #vinyl8:hover {
    animation: spin 5s linear infinite;
  }

  #vinyl9:hover {
    animation: spin 5s linear infinite;
  }

  #vinyl10:hover {
    animation: spin 5s linear infinite;
  }

  .hidden {
    display: none;
  }